*{
    margin: 0;
    padding: 0;
    font-family: 'Philosopher', sans-serif;
   text-align: center;
   width: 100%;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
.call a{
    text-decoration: none;
    color: #69bd49;
}
.headerm h1{

    font-size: 100px;
    text-align: center;
    color: #fcfcfc;
}
.headerm p{
    font-size: 20px;
    text-align: center;
    color: #fcfcfc;


}
.break{
    min-height: 25vh;
    width: 100%;
    background-image: linear-gradient(rgba(29, 41, 0, 0.288),rgba(29, 41, 0, 0.7)),url(image/weed.jpg);
    background-position: center;
    background-size: cover;
    
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    padding: 2% 6%;
    padding-left: 0px;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
    
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 12px;
    position: relative;
} 
.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #bdc000;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 100%;
    color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}
.text-box h1{
    font-size: 100px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    
    color: #fcfcfc;
}
.text-box a{
    align-items: left;
}
.hero-htn{
    display: inline-block;
    text-decoration: none;
    color: #fcfcfc;
    border: 1px solid #fcfcfc;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-htn:hover{
    border: 10px solid #bbad71;
    background: #bbad71;
    transition: 1s;
}
nav .fa{
    display: none;
}


@media(max-width: 700px){
    *{
        width: 100%;
        margin: 0;
    }
    .text-box h1{
        font-size: 20px;
        
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #ffffff;
        height: 50vh;
        width: 150px;
        top: 0;
        right: 0px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }
    .pic-coll{
        width: 100%;
    }
    nav .fa{
        display: block;
        color: #000000;
        margin: 12px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 10px;
    }
    .header{
        display: block;
    }

}
.service{

    margin: auto;
    width: 80%;
    padding-top: 15px;
    text-align: center;
}
h1{
    font-size: 46px;
    font-weight: 400;
}
p{
    color: #787a40;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}


.service-col{
    flex-basis: 30%;
    background: #fcfcfc;
    border-radius: 16px;
    margin-bottom: 2%;
    padding: 10px 10px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
h3{
    text-align: center;
    font-weight: 400;
    margin: 10px 0;

}


.service-col:hover{
    box-shadow: 0 0 20px 10px rgba(29, 41, 0, 0.7);

}
div img{
    width: 200px;
}
.row{

    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
    position: relative;
   
}
.pic-col{

    flex-basis: 31%;
    background: white;
    display: flex;
    
   
    
}
.pic-col img{
    height: 40vh;
    

}
.pic-coll img{
    width: 400px;
    
    

}  

.pic-col1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    

    position: relative;
    
}
@media(max-width: 700px){
    .service{
        display: block;
    }
    .row{
        display: block;
    }
    .pic-coll img{
        display: block;
        width: 80%;
    }
}
.call a{
    font-size: large;
}
.bottom{

    background-color: #1b1b11;
    width: 100%;
}


.footer{
    background-color: #1b1b11;
    padding-top: 100px;
    width: 100%;
    
}

.pop{
    color:#fcfcfc;
    font-size: 12px;
    font-weight: 200;
    line-height: 5px;
    text-align: center;
    background-color: #1b1b11;
    padding-top: 250px;
    justify-content: space-between;
}
@media(max-width: 700px){
    .bottom{
        display: block;
    }
   
}